body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e721e, #2a6898);
    color: #ffffff6c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/3.jpeg');
  }
  
  .app-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
  
  input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #15eacdd4;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  button:hover {
    background: #e68a00;
  }
  
  #weatherResult {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
  }
  